* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


section {
	width: 90%;
	padding-top: 70px;
	background-color: #4F709C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding-top: 100px;


}

table {
	width: 90%;
	margin: auto;
	margin-bottom: 30px;

}

th {
	/* text-decoration: underline; */
	background-color: #D9D9D9;
	padding-top: 15px;
	padding-bottom: 15px;
}

td {

	text-align: center;
	padding: 10px 10px;
	background-color: #D9D9D9;

}

.form {
	display: none;
	flex-direction: column;

}

.form.active {
	display: flex;

}

#button1 {
	background-color: #213555;
	color: white;
	height: 40px;
	width: 150px;
	margin-left: 75px;
	margin-bottom: 30px;

}

/* #buttons {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 20px;
} */

#formpopup {

	background-color: #749BC2;
	/* display: none; */
	position: fixed;
	width: 35%;
	margin: auto;
	margin-left: 490px;

}

label {
	font-size: larger;
	padding-bottom: 2px;
}

#centerForm {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

#formContent {
	display: flex;
	flex-direction: column;
	padding: 60px;

}

.double {
	width: 500px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* margin-right: 200px;
	margin: auto; */
	padding-top: 45px;

}

.centerLabel {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.centerLabel input {
	width: 200px;
	height: 40px;
}

.centerLabel label {
	display: flex;
}


.margin {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	width: 84%;
	text-align: left;
	padding-top: 45px;
}


.margin input {
	width: 450px;
	height: 40px;
}

#formpopup button {
	background-color: #213555;
	color: white;
	height: 40px;
	width: 150px;
	display: flex;
	margin-left: 325px;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	font-size: medium;

}

/* .mainmodal {

	background-color: rgba(0, 0, 0, 0.509);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;


}

.encadrement {

	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

} */
/* 
#resultupdate {
	background-color: #4F709C;
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;

} */


#deleteModal h3 {
	text-align: center;
}

#deleteModal {

	background-color: rgba(0, 0, 0, 0.509);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;


}

#centerModal {

	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;



}

#deleteContent {
	background-color: #749BC2;
	width: 500px;
	height: 200px;
	display: flex;
	flex-direction: column;
	padding-top: 40px;


}

#deleteContent button {
	background-color: #213555;
	color: white;
	padding: 15px 45px;
	display: flex;
	margin-top: 50px;
	text-align: center;

}

#centerBtn {
	display: flex;
	justify-content: space-evenly;


}



#updateModal {

	background-color: #749BC2;
	display: none;
	position: fixed;
	width: 35%;
	margin: auto;
	margin-left: 490px;

}


.update {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}



#updateModal button {
	background-color: #213555;
	color: white;
	height: 40px;
	width: 150px;
	display: flex;
	margin-left: 325px;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	font-size: medium;

}